.app__invoice a, p{
    font-size: 14px;
}
.app__invoice h2{
    font-size: 16px;
    font-weight: 600;
}
.app__invoice h1{
    font-size: 39px;
}

.app__invoice{
    width: 595px !important;
    height: 842px !important;
    display: flex;
    flex-direction: column;
    padding: 37px; 
}
.app__invoice-title{
    display: flex;
    justify-content: flex-end;
    margin-top: 43px;
}
.app__invoice-details{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.details-left{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.app__invoice-items{
    margin-top: 60px;
}
.headings{
    width: 100%;
    display: flex;
    gap: 30px;
}
.app__invoice-payments{
    width: 100%;
    display: flex;
    justify-content: space-between;
}